{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>Online Book store</title>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between; /* This will justify content with space between items */
            /* Other possible values for justify-content: center, flex-start, flex-end, space-around, space-evenly */
           /* Just for visual clarity */
            padding: 5px; /* Just for visual clarity */
        }

        .flex-item {
            width: 80px;
            height: 20px;
           
        }
      .btn-gap {
          margin-bottom: 0px;
          padding-left: 2%;
          border:10px solid transparent; /* Adjust the value as needed */
          gap:1em;
      }
  </style>
    <script src="https://kit.fontawesome.com/e622afe054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:lightskyblue">
    <a class="navbar-brand" href="{% url 'myapp:category' %}">Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'myapp:category' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/1/Electonics_book">Electronics<span class="sr-only">(current)</span></a>
              </li>
            </ul>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/2/computer_book">Computer Science<span class="sr-only">(current)</span></a>
              </li>
            </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/3/Horror_book">Horror<span class="sr-only">(current)</span></a>
              </li>
            </ul> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/4/kids_book">Kids<span class="sr-only">(current)</span></a>
              </li>
            </ul>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/6/Novel_book">Novels<span class="sr-only">(current)</span></a>
              </li>
            </ul>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/products/5/Adventure_book">Adventure<span class="sr-only">(current)</span></a>
              </li>
            </ul>                         
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="q" value="{{request.GET.q}}" placeholder="Search" aria-label="Search">
            <br><a href="{% url 'myapp:cart_view'%}"class="btn btn-outline-success my-2 my-sm-0">Cart</a></form></ul>
            <br>
          </form>
          <div class="flex-container">
            {% if not user.is_authenticated %} 
            <a class="btn btn-primary btn-gap" href="{% url 'myapp:login' %}">Login</a> <br>
          </div>
            <a class="btn btn-primary btn-gap" href="{% url 'myapp:register' %}">Register</a><br>
          </div>
          <a href="http://127.0.0.1:8000/admin/"><i class="fa-solid fa-user btn-gap" >Staff</i></a><br>
          {% else %}
            <a class="btn btn-primary btn-gap" href="{% url 'myapp:logout' %}">Logout</a>
          </div>
          {% endif %}
        </div>
        </div>
          
      </nav>
  <div class="container">
{% block content %}

{% endblock %}
</div>
</body
</html>
